<%- include("partials/header"); -%>

<%- include ("partials/channel_section"); -%>

    <div class="page-single">
        <div class="modal-block modal-visible">
            <div class="modal-brand">
                <div class="modal-brand-caption">
                    <div class="logo"></div>
                </div>
            </div>
            <div class="modal-block-content">
                <h3>Channel Name: <%= channel.name %></h3>
            </br>
                <p>Origin: <%= channel.creation %></p>
                <p>Owner: <%= channel.creator.username %></p>
        </br>
                <h3>Participants: </h3>
                <ul>
                    <% channel.participants.forEach(function(user){ %>
                      <li><a href="/user/<%= user._id %>"><%= user.username %></a></li>
                    <%});%>
                </ul>
            </br>
                <% if(!isParticipant) { %>
                    <form action="/channel/join/<%= channel._id %>" method="post">
                        <button type="submit" class="btn btn-block btn-radius btn-primary">Join Channel</button>
                    </form>
                <% } else { %>
                    <form action="/channel/leave/<%= channel._id %>" method="post">
                        <button type="submit" class="btn btn-block btn-radius btn-primary">Leave Channel</button>
                    </form>
                </br>
                    <span id="copy" class="btn btn-block btn-radius btn-primary">Copy Channel URL</span>
                <% } %>
            </div>
        </div>
    </div>
        
    <script>
        var copyButton = document.querySelector("#copy");

        function copy() {
            var dummy = document.createElement("input"),
                text = window.location.href;
            document.body.appendChild(dummy);
            dummy.value = text;
            dummy.select();
            document.execCommand("copy");
            document.body.removeChild(dummy);
            copyButton.textContent = "URL copied!";
        }
        copyButton.addEventListener("click", copy);
    </script>


<%- include("partials/footer"); -%>