<%- include("partials/header"); -%>

<div class="info-container hidden">
    <%- include("partials/channelInfo"); -%>
</div>

<div class="create-sketch-container hidden" style="background: transparent; position: absolute; top: 0; left: 0; display: flex; justify-content: center; width: 100%; height: 100%; align-items: center">
    <%- include("partials/createSketch"); -%>
</div>

<div class="choose-template-container hidden" >
    <img id="close-template-screen" src="app/assets/clear-icon.svg" height="50px" width="50px" style="cursor: pointer; position: absolute; top: 30px; right: 30px;"/>
    <div class="choose-template-wrapper">
        <h4 style="margin-bottom: 20px">Choose a Template</h4>
        <div class="choose-template-container-inner">
            <img src="app/assets/templates/batman-spiderman.jpeg" class="template-item" />
            <img src="app/assets/templates/mario.jpeg" class="template-item" />
            <img src="app/assets/templates/nemo.jpeg" class="template-item" />
            <img src="app/assets/templates/template-ironman-deadpool.jpeg" class="template-item" />
        </div>
    </div>
</div>

<div class="create-channel-container <%= (!channel) ? '' : 'hidden' %>" style="background: transparent; position: absolute; top: 0; left: 0; display: flex; justify-content: center; width: 100%; height: 100%; align-items: center">
    <%- include("partials/createChannel"); -%>
</div>

<div class="fullscreen-image hidden" >
    <img src="app/resources/img/uploads/sketches/5bb414f08bffd3ba670cdce704fd9fb0.png" style="background-color: white; border-radius: 15px; max-width: 60vw; margin-bottom: 1vh" />
    <a id="publish-to-public-feed" class="btn btn-primary" style="font-size: 1vw">Publish this Sketch to the Public Feed</a>
    <img id="close-full-screen" src="app/assets/clear-icon.svg" height="50px" width="50px" style="cursor: pointer; position: absolute; top: 30px; right: 30px;"/>

</div>

<div class="dashboard">
    <div class="channels-container-outer">
        <div class="dashboard-channels-container">
            <a href="/@me" class="personal-profile"><img class="personal-profile-icon" src="<%= user.avatar %>"/></a>
            <div class="divider"></div>
            <%- include("partials/channel_section"); -%>
        </div>
    </div>

    <div class="dashboard-main-content-container">
        <div class="container-top-bar-history-outer">
            <div class="container-top-bar-history-inner">
                <div class="dashboard-top-app-bar">
                    <div class="title-info-container">
                        <% if (channel) { %>
                            <span class="channel-title"><%= channel.name %></span>
                        <% } else { %>
                            <span class="channel-title"></span>
                        <% } %>
                        <img class="channel-info-icon" src="/app/assets/info-white.svg" alt="info-icon"/>
                    </div>
                    <a href="/public-feed" class="flat-accent-button" type="button" value="PUBLIC FEED">Public Feed</a>
                </div>
                <div class="dashboard-sketch-history-container">
                    <img style="margin-left: 20px; margin-right: 20px" src="/app/assets/history.svg" alt="history-icon"/>
                    <ul class="sketch-history-list">
                        <li class="sketch-history-list-item">
                            <img src="/app/resources/img/sketch-export.png" class="sketch-history-list-img" height="30px" />
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="dashboard-canvas">
            <div id="stage-parent" style="padding: 2vw; display: flex">
                <div id="container" class="dashboard-canvas-container" style="overflow: auto"></div>
            </div>
        </div>
    </div>
    <div class="container-member-toolbox">
        <div class="dashboard-member-container">
            <span class="member-title">MITGLIEDER</span>
            <ul class="member-list" style="list-style-type: none; padding: 0"></ul>
            <template id="member-template">
                <li class="member-item">
                    <img src="/app/assets/face-white.svg" alt="info" style="margin-right: 8px"/>
                    <span class="member"></span>
                </li>
            </template>
        </div>

        <div class="dashboard-toolbox-container">
            <div class="dashboard-toolbox-size">
                <img class="toolbox-size-item clickable" id="stroke-size-extra-small" alt="size-small" height="5px"
                     src="/app/assets/toolbox_white.svg"/>
                <img class="toolbox-size-item clickable" id="stroke-size-small" alt="size-small" height="10px"
                     src="/app/assets/toolbox_white.svg"/>
                <img class="toolbox-size-item clickable" id="stroke-size-middle" alt="size-small" height="15px"
                     src="/app/assets/toolbox_white.svg"/>
                <img class="toolbox-size-item clickable" id="stroke-size-big" alt="size-small" height="25px"
                     src="/app/assets/toolbox_white.svg"/>
            </div>

            <img class="clickable" id="toolbox-pen" alt="pen" height="100px" src="/app/assets/toolbox_pen.png"/>
            <img class="clickable" id="toolbox-rubber" alt="rubber" height="80px" src="/app/assets/toolbox_rubber.png"/>

            <div class="dashboard-color-picker" id="color-slider-container"></div>

            <img class="clickable" id="toolbox-undo" alt="undo" height="40px" width="40px"
                 src="/app/assets/toolbox_undo.svg"/>

            <img class="clickable" id="toolbox-delete-forever" alt="delete-forever" height="40px" width="40px"
                 src="/app/assets/toolbox_delete_forever.svg"/>
        </div>

        <div class="container-load-and-publish">
            <input id="import-template" type="button" class="btn btn-primary" style="margin-bottom: 10px" value="choose template">
            <input id="save" type="button" class="btn btn-primary" style="margin-bottom: 10px" value="save sketch">
            <input id="save-publish" type="button" class="btn btn-primary" style="margin-bottom: 10px" value="finalize sketch & create new">
            <input id="export-download" type="button" class="btn btn-primary" style="margin-bottom: 10px" value="export sketch & download">
        </div>
    </div>

</div>

<script>
    
</script>


<script src="https://cdn.jsdelivr.net/npm/@jaames/iro"></script>
<script src="https://unpkg.com/konva@7.0.3/konva.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/app/resources/js/utils/Observable.js"></script>
<script type="module" src="/app/resources/js/ui/View.js"></script>
<script type="module" src="/app/resources/js/ui/dashboard/SaveLoadView.js"></script>
<script type="module" src="/app/resources/js/controller/SketchController.js"></script>
<script type="module" src="/app/resources/js/ui/dashboard/ChannelInfoDialogView.js"></script>
<script type="module" src="/app/resources/js/ui/dashboard/ChannelListView.js"></script>
<script type="module" src="/app/resources/js/ui/dashboard/CreateChannelDialogView.js"></script>
<script type="module" src="/app/resources/js/ui/dashboard/MemberListView.js"></script>
<script type="module" src="/app/resources/js/controller/ChannelController.js"></script>
<script type="module" src="/app/resources/js/controller/MemberController.js"></script>
<script type="module" src="/app/resources/js/ui/dashboard/DrawAreaView.js"></script>
<script type="module" src="/app/resources/js/controller/DrawAreaController.js"></script>
<script type="module" src="/app/resources/js/ui/dashboard/ToolboxView.js"></script>
<script type="module" src="/app/resources/js/ui/dashboard/CreateSketchDialogView.js"></script>
<script type="module" src="/app/resources/js/Dashboard.js"></script>
<script type="module" src="/app/resources/js/index.js"></script>

<%- include("partials/footer"); -%>