<div style="display: none">
    <%- include("partials/header"); -%>
</div>

    <div class="info-container hidden">
        <%- include("partials/channelInfo"); -%>
    </div>

    <div class="create-channel-container <%= (!channel) ? '' : 'hidden' %>">
        <%- include("partials/createChannel"); -%>
    </div>

    <div class="dashboard">
        <div class="dashboard-channels-container">
            <a href="/@me"><img class="personal-profile-icon" src="<%= user.avatar %>"/></a> 
            <div class="divider"></div>
            <%- include("partials/channel_section"); -%>
            <!-- Placeholder for testing -->
            <a href="/logout" class="btn btn-primary" style="position: absolute; bottom: 0;">LOGOUT</a>
        </div>

        <div class="dashboard-main-content-container">
            <div class="dashboard-top-app-bar">
                <div class="title-info-container">
                    <% if (channel) {%>
                        <span class="channel-title"><%= channel.name %></span>
                    <%}%>
                    <img class="channel-info-icon" src="/app/assets/info-white.svg" alt="info-icon" />
                </div>
                <a href="/frontpage" class="flat-accent-button" type="button" value="PUBLIC FEED">Public Feed</a>
            </div>
            <div class="dashboard-sketch-history-container"></div>
            <div class="dashboard-canvas">
                <div id="stage-parent" style="padding: 0; width: 100%; height: 100%">
                    <div id="container" class="dashboard-canvas-container"></div>
                </div>

                <div class="dashboard-toolbox-container shadow">
                    <img class="toolbox-expanded clickable" height="40vh" width="40vh" id="toolbox-collapse-expand" src="/app/assets/toolbox_collapse.svg" alt="collapse/expand" />
                    <div class="dashboard-toolbox">
                        <div class="dashboard-toolbox-size">
                            <img class="toolbox-size-item clickable" id="stroke-size-extra-small" alt="size-small" height="5px" src="/app/assets/toolbox_white.svg" />
                            <img class="toolbox-size-item clickable" id="stroke-size-small" alt="size-small" height="10px" src="/app/assets/toolbox_white.svg" />
                            <img class="toolbox-size-item clickable" id="stroke-size-middle" alt="size-small" height="15px" src="/app/assets/toolbox_white.svg" />
                            <img class="toolbox-size-item clickable" id="stroke-size-big" alt="size-small" height="25px" src="/app/assets/toolbox_white.svg" />
                        </div>

                        <img class="clickable" id="toolbox-pen" alt="pen" height="100px" src="/app/assets/toolbox_pen.png" />
                        <img class="clickable" id="toolbox-rubber"alt="rubber" height="80px" src="/app/assets/toolbox_rubber.png" />

                        <div class="dashboard-color-picker" id="color-slider-container"></div>

                        <img class="clickable" id="toolbox-undo" alt="undo" height="40px" width="40px" src="/app/assets/toolbox_undo.svg" />

                        <img class="clickable" id="toolbox-delete-forever" alt="delete-forever" height="40px" width="40px" src="/app/assets/toolbox_delete_forever.svg" />
                    </div>

                </div>

            </div>
        </div>
        <div class="dashboard-member-container">
            <span class="member-title">MITGLIEDER</span>
            <ul class="member-list">
            <% if (channel) { %>
                <% channel.participants.forEach(function(member){ %>
                    <li ><a style="<%= member.online ? 'color:green' : 'color:red' %>" class="member" href="/api/user/<%= member._id %>"><%= member.username %></a></li>
                <% }) %>
            <% } %>
            </ul>
            <template id="member-template">
                <li><a class="member"></a></li>
            </template>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/@jaames/iro"></script>
<script src="https://unpkg.com/konva@7.0.3/konva.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/app/resources/js/utils/Observable.js"></script>
<script type="module" src="/app/resources/js/ui/View.js"></script>
<script type="module" src="/app/resources/js/ui/ChannelInfoDialogView.js"></script>
<script type="module" src="/app/resources/js/ui/ChannelListView.js"></script>
<script type="module" src="/app/resources/js/ui/CreateChannelDialogView.js"></script>
<script type="module" src="/app/resources/js/ui/MemberListView.js"></script>
<script type="module" src="/app/resources/js/controller/ChannelController.js"></script>
<script type="module" src="/app/resources/js/controller/MemberController.js"></script>
<script type="module" src="/app/resources/js/ui/DrawAreaView.js"></script>
<script type="module" src="/app/resources/js/controller/DrawAreaController.js"></script>
<script type="module" src="/app/resources/js/ui/ToolboxView.js"></script>
<script type="module" src="/app/resources/js/Dashboard.js"></script>
<script type="module" src="/app/resources/js/index.js"></script>

<%- include("partials/footer"); -%>