<div style="display: none">
    <%- include("partials/header"); -%>
</div>

<div class="info-container hidden">
    <%- include("partials/channelInfo"); -%>
</div>

<div class="create-sketch-container hidden" style="background: transparent; position: absolute; top: 0; left: 0; display: flex; justify-content: center; width: 100%; height: 100%; align-items: center">
    <%- include("partials/createSketch"); -%>
</div>

<div class="create-channel-container <%= (!channel) ? '' : 'hidden' %>" style="background: transparent; position: absolute; top: 0; left: 0; display: flex; justify-content: center; width: 100%; height: 100%; align-items: center">
    <%- include("partials/createChannel"); -%>
</div>

<div class="dashboard">
    <div class="channels-container-outer">
        <div class="dashboard-channels-container">
            <a href="/@me" class="personal-profile"><img class="personal-profile-icon" src="<%= user.avatar %>"/></a>
            <div class="divider"></div>
            <%- include("partials/channel_section"); -%>
        </div>
    </div>

    <div class="dashboard-main-content-container">
        <div class="container-top-bar-history-outer">
            <div class="container-top-bar-history-inner">
                <div class="dashboard-top-app-bar">
                    <div class="title-info-container">
                        <% if (channel) { %>
                            <span class="channel-title"><%= channel.name %></span>
                        <% } else { %>
                            <span class="channel-title"></span>
                        <% } %>
                        <img class="channel-info-icon" src="/app/assets/info-white.svg" alt="info-icon"/>
                    </div>
                    <a href="/frontpage" class="flat-accent-button" type="button" value="PUBLIC FEED">Public Feed</a>
                </div>
                <div class="dashboard-sketch-history-container">
                    <img style="margin-left: 2vh" src="/app/assets/history.svg" alt="history-icon"/>

                </div>
            </div>
        </div>

        <div class="dashboard-canvas">
            <div id="stage-parent" style="padding: 2vw; display: flex">
                <div id="container" class="dashboard-canvas-container" style="overflow: auto"></div>
            </div>
        </div>
    </div>
    <div class="container-member-toolbox">
        <div class="dashboard-member-container">
            <span class="member-title">MITGLIEDER</span>
            <ul class="member-list" style="list-style-type: none; padding: 0">
                <% if (channel) { %>
                    <% Object.keys(channel.participants.toJSON()).forEach(function(roleGroup){ %>
                        <% channel.participants[roleGroup].forEach((member) => { %>
                            <li class="member-item">
                                <img src="/app/assets/face-white.svg" alt="info" style="margin-right: 8px"/>
                                <a style="<%= member.online ? 'color:green' : 'color:red' %>" class="member"
                                   href="/api/user/<%= member._id %>"><%= member.username %></a>
                            </li>
                        <% }) %>
                    <% }) %>
                <% } %>
            </ul>
            <template id="member-template">
                <li><a class="member"></a></li>
            </template>
        </div>

        <div class="dashboard-toolbox-container">
            <div class="dashboard-toolbox-size">
                <img class="toolbox-size-item clickable" id="stroke-size-extra-small" alt="size-small" height="5px"
                     src="/app/assets/toolbox_white.svg"/>
                <img class="toolbox-size-item clickable" id="stroke-size-small" alt="size-small" height="10px"
                     src="/app/assets/toolbox_white.svg"/>
                <img class="toolbox-size-item clickable" id="stroke-size-middle" alt="size-small" height="15px"
                     src="/app/assets/toolbox_white.svg"/>
                <img class="toolbox-size-item clickable" id="stroke-size-big" alt="size-small" height="25px"
                     src="/app/assets/toolbox_white.svg"/>
            </div>

            <img class="clickable" id="toolbox-pen" alt="pen" height="100px" src="/app/assets/toolbox_pen.png"/>
            <img class="clickable" id="toolbox-rubber" alt="rubber" height="80px" src="/app/assets/toolbox_rubber.png"/>

            <div class="dashboard-color-picker" id="color-slider-container"></div>

            <img class="clickable" id="toolbox-undo" alt="undo" height="40px" width="40px"
                 src="/app/assets/toolbox_undo.svg"/>

            <img class="clickable" id="toolbox-delete-forever" alt="delete-forever" height="40px" width="40px"
                 src="/app/assets/toolbox_delete_forever.svg"/>
        </div>

        <div class="container-load-and-publish">
            <a id="save" class="btn btn-primary" style="  margin-bottom: 10px; font-size: 1vw">Save</a>
            <a id="save-publish" class="btn btn-primary"
               style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; margin-bottom: 10px; font-size: 1vw"><p>
                    Finalize &nbsp Sketch &nbsp</p>
                <p style="margin-bottom: 10px; font-size: 1vw"> & </p>
                <p>create new</p></a>
            <a id="export-download" class="btn btn-primary"
               style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; font-size: 1vw"><p>
                    Export &nbsp Sketch &nbsp</p>
                <p style="padding: 0;"> & </p>
                <p>download</p></a>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/@jaames/iro"></script>
<script src="https://unpkg.com/konva@7.0.3/konva.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/app/resources/js/utils/Observable.js"></script>
<script type="module" src="/app/resources/js/ui/View.js"></script>
<script type="module" src="/app/resources/js/ui/SaveLoadView.js"></script>
<script type="module" src="/app/resources/js/controller/SketchController.js"></script>
<script type="module" src="/app/resources/js/ui/ChannelInfoDialogView.js"></script>
<script type="module" src="/app/resources/js/ui/ChannelListView.js"></script>
<script type="module" src="/app/resources/js/ui/CreateChannelDialogView.js"></script>
<script type="module" src="/app/resources/js/ui/MemberListView.js"></script>
<script type="module" src="/app/resources/js/controller/ChannelController.js"></script>
<script type="module" src="/app/resources/js/controller/MemberController.js"></script>
<script type="module" src="/app/resources/js/ui/DrawAreaView.js"></script>
<script type="module" src="/app/resources/js/controller/DrawAreaController.js"></script>
<script type="module" src="/app/resources/js/ui/ToolboxView.js"></script>
<script type="module" src="/app/resources/js/ui/CreateSketchDialogView.js"></script>
<script type="module" src="/app/resources/js/Dashboard.js"></script>
<script type="module" src="/app/resources/js/index.js"></script>

<%- include("partials/footer"); -%>