<%- include("partials/header"); -%>

<div class="container">
    <div class="invite">
        <% if (user) { %>
            <p>Hey <%= user.username %>!</p>
        <% } %>
        <p>You were invited to:</p>
        <% if (channel) { %>
            <div class="channel-icon">
                <% if (channel.icon) { %>
                    <img src="<%= channel.icon %>">
                <% } else { %>
                    <a><%= channel.name.substring(0,1) %></a>
                <% } %>
            </div>
            <p class="channel-name" id="<%= channel._id %>"><%= channel.name %></p>
            <% if (!user) { %>
                <a href="/login">Please log in first to accept the Invite!</a>
            <% } else if (user.channels.includes(channel._id)) { %>
                <p>You're already a Member though!</p>
            <% } else { %>
                <button class="btn">Join</button>
            <% } %>
        <% } %>
    </div>
</div>

<script>

    var joinButton = document.querySelector("button");
    if (joinButton) {
        joinButton.addEventListener("click", function() {
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "/api/channel/join/" + document.querySelector(".channel-name").id);
            xhr.onload = function() {
                console.log(this.responseText);
                if (JSON.parse(this.response).message === "Successfully joined Channel!") {
                    console.log("going further");
                    window.location.href = "/dashboard";
                } else {
                    console.log("wrong");
                }
            }
            xhr.send();
        })
    }

</script>


<%- include("partials/footer"); -%>