<%- include("partials/header"); -%>

    <div class="page-single">
        <div class="modal-block modal-visible">
            <div class="modal-brand" style="display: flex; flex-direction: column; justify-content: start; max-width: 30%; align-items: center">
                <div class="profile-image-container">
                    <img class="profile-image" src="<%= user.avatar%>">
                    <div class="profile-image-overlay">Profilbild ändern</div>
                </div>

                <form style="max-width: 100%; display: flex; flex-direction: column; align-items: center" action="/@me/upload" method="POST" enctype="multipart/form-data">
                    <input id="profile-upload" type="file" name="<%= uploadField %>" required>
                    <span id="selected-file"></span>
                    <button type="submit" id="btn-upload-profile" class="btn btn-primary" style="visibility: hidden">Upload</button>
                </form>
            </div>
            <div class="modal-block-content">

                <div style="display: flex; margin-top: 10px; justify-content: space-between; align-items: center">
                    <h3>My Profile</h3>
                    <div style="display: flex; align-items: center">
                        <img src="app/assets/emoji_events.svg" width="40px" style="margin-right: 8px" />
                        <span style="font-size: 22px"><%= user.score %></span>
                    </div>
                </div>
                <form class="form-horizontal" action="/@me/update" method="POST">
                    <div class="form-group">
                        <label for="profile_username">Username</label>
                        <input type="text" name="user[username]" id="profile_username" class="form-control" value="<%= user.username %>" />
                    </div>
                    <div class="form-group">
                        <label for="profile_email">E-Mail</label>
                        <input type="text" name="user[email]" id="profile_email" class="form-control" value="<%= user.email %>" />
                    </div>
                    <div class="form-group">
                        <label for="profile_status">Status</label>
                        <input type="text" name="user[status]" id="profile_status" class="form-control" value="<%= user.status %>" />
                    </div>
                    <div class="form-group">
                        <label for="profile_info">Your Description</label>
                        <input type="text" name="user[info]" id="profile_info" class="form-control" value="<%= user.info %>" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-radius">Save Changes</button>
                    </div>
                </form>
            </div>

            <script>
                document.querySelector(".profile-image-overlay").addEventListener("click", (event) => {
                    document.querySelector("#profile-upload").click();
                })

                document.querySelector("#profile-upload").addEventListener("change", (event) => {
                    document.querySelector("#selected-file").innerHTML = event.target.value;
                    document.querySelector("#btn-upload-profile").style.visibility = "visible";
                })
            </script>
        </div>
    </div>


<%- include("partials/footer"); -%>
