<%- include("partials/header"); -%>

<div class="profile-container">
    <div class="dialog">
        <div class="profile-avatar">
            <div class="profile-image-container">
                <img class="profile-image" src="<%= user.avatar%>">
                <div class="profile-image-overlay">Profilbild ändern</div>
            </div>
            <form action="/@me/upload" method="POST" enctype="multipart/form-data">
                <input id="profile-upload" type="file" name="<%= uploadField %>" required>
                <span id="selected-file"></span>
                <button type="submit" id="btn-upload-profile" class="btn-save" style="visibility: hidden;">Upload</button>
            </form>
        </div>
        <div class="profile-form">
            <div class="profile-title">
                <h3>My Profile</h3>
                <div class="score-container">
                    <img src="app/assets/emoji_events.svg"/>
                    <span><%= user.score %></span>
                </div>
            </div>
            <form action="/@me/update" method="POST">
                <div>
                    <label for="profile_username">Username</label>
                    <input type="text" name="user[username]" id="profile_username" value="<%= user.username %>" />
                </div>
                <div>
                    <label for="profile_email">E-Mail</label>
                    <input type="text" name="user[email]" id="profile_email" value="<%= user.email %>" />
                </div>
                <div>
                    <label for="profile_status">Status</label>
                    <input type="text" name="user[status]" id="profile_status" value="<%= user.status %>" />
                </div>
                <div>
                    <label for="profile_info">Your Description</label>
                    <input type="text" name="user[info]" id="profile_info"value="<%= user.info %>" />
                </div>
                <div>
                    <button type="submit" class="btn-save">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="module" src="/app/resources/js/profile.js"></script>

<%- include("partials/footer"); -%>
