<%- include("partials/header"); -%>

<div class="banner-content">
  <div class="banner-main-container">
      <h2>Sket<span style="color: var(--teal-accent);">chimp</span></h2>
      <hr class="my-5">
      <h3>Browse what others made and award the Drawings you like!</h3>
  </div>
</div>

<div class="container-fluid card-container">
  <div class="cards" id="cards">
    <% sketches.forEach(function(sketch){ %>
      <div class="card" id="<%= sketch.id %>">
        <div class="content">
            <div class="content-overlay"></div>
            <% if (sketch.path) { %>
              <img class="content-image" src="<%= sketch.path %>">
            <% } %>
              <div class="content-details fadeIn-bottom">
                <% if (sketch.name) { %>
                  <p class="content-title"><%= sketch.name %></p>
                <% } %>
                <% if(user != undefined) {%>
                  <% if(sketch.userUpvote) { %>
                    <img class="likebutton" src="/app/assets/thumb_up-white-18dp-active.svg"></img>
                    <img class="dislikebutton" src="/app/assets/thumb_down-white-18dp.svg"></img>
                  <% } else if(sketch.userDownvote){ %>
                    <img class="likebutton" src="/app/assets/thumb_up-white-18dp.svg"></img>
                    <img class="dislikebutton" src="/app/assets/thumb_down-18dp-active.svg"></img>
                  <% } else {%>
                    <img class="likebutton" src="/app/assets/thumb_up-white-18dp.svg"></img>
                    <img class="dislikebutton" src="/app/assets/thumb_down-white-18dp.svg"></img>
                  <% } %>  
                <% } %>  
              </div>
        </div>
      </div>
    <% }); %>
    <% for (let i = 0; i < 50; i++) { %>
      <% let width = 1 + Math.floor(Math.random() * 4), h = 200 + i, w = 300 + i;%>
      <div class="card card--width<%= width %>">
        <div class="content">
            <div class="content-overlay"></div>
            <img class="content-image" src="https://picsum.photos/<%= w %>/<%= h %>">
            <div class="content-details fadeIn-bottom">
              <p class="content-title">This is a title</p>
              <% if(user != undefined) {%>
                <img class="likebutton" src="/app/assets/thumb_up-white-18dp.svg"></img>
                <img class="dislikebutton" src="/app/assets/thumb_down-white-18dp.svg"></img>
              <% } %>
            </div>
          </div>
        </div>
      <% } %>
  </div>
</div>    
              
<% if(user != undefined) {%>
  <script type="module" src="/app/resources/js/ui/publicfeed/PublicFeedView.js"></script>
<% } %>
  
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script type="module" src="/app/resources/js/PublicFeed.js"></script>
  
<%- include("partials/footer"); -%>