<%- include("partials/header"); -%>

    <%- include ("partials/channel_section"); -%>

    <div class="page-single">
        <div class="modal-block modal-visible">
            <div class="modal-brand">
                <div class="modal-brand-caption">
                    <div class="logo"></div>
                </div>
            </div>
            <div class="modal-block-content">
                <% if (title === "profile") { %>
                    <h3>User Data:</h3>
                    <p><%= targetUser.username %> <%= targetUser.email %></p>
                    <p>Online: <%= targetUser.online %></p>
                <% } else { %>
                    <h3>Logged in as: </h3>
                    <p><%= user.username %> <%= user.email %></p>
                <% } %>
                
                <% if (title === "profile") { %>
                    <h3>Member of Channels: </h3>
                    <ul>
                        <% targetUser.channels.forEach(function(channel){ %>
                          <li><a href="/channel/<%= channel._id %>"> <%= channel.name %></a></li>
                        <%});%>
                    </ul>
                <% } %>
            </div>
        </div>
    </div>


<%- include("partials/footer"); -%>
