<div>
    <ul class="sidebar-menu">
        <template id="channel-template">
            <li><a id="" class="channel current-server" data-toggle="tooltip" data-placement="right" data-title=""></a></li>
          </template> 
        <% user.channels.forEach(function(channel){ %>
            <% if (channel.icon) { %>
                <li><a id="/api/channel/<%= channel._id%>" class="channel current-server" data-toggle="tooltip" data-placement="right" data-title="<%= channel.name %>"><img style="pointer-events: none;" src="<%= channel.icon %>"></a></li>
            <% } else { %>
                <li><a id="/api/channel/<%= channel._id%>" class="channel current-server" data-toggle="tooltip" data-placement="right" data-title="<%= channel.name %>"><%= channel.name.substring(0, 1) %></a></li>
            <% } %>
        <% }) %>
        <li id="channel-new"><a id="/api/channel/new" class="join-server" data-start="modal-custom" data-target="#create-group" data-toggle="tooltip" data-placement="right" data-title="Create Channel"><img src="/app/assets/add-white.svg"/></a></li>
    </ul>
</div>