<div id="channel-info-dialog" class="page-single">
    <div class="modal-block modal-visible">
        <img id="channel-info-close" src="app/assets/clear-icon.svg" height="30px" width="30px"
             style="cursor: pointer; position: absolute; top: 30px; right: 30px;"/>
        <% if (channel) { %>
            <div class="modal-brand" style="display: flex; flex-direction: column; justify-content: start; max-width: 30%; align-items: center">
                <div class="profile-image-container" >
                    <img id="channel-icon" class="profile-image" src="<%= channel.icon%>">
                    <div class="profile-image-overlay">Profilbild ändern</div>
                </div>
                <form id="form-upload-channel-icon" action="/api/channel/upload/<%channel.id%>" style="max-width: 100%; display: flex; flex-direction: column; align-items: center" method="POST" enctype="multipart/form-data">
                    <input id="channel-upload" style="visibility: hidden" type="file" name="avatar" required>
                    <span id="selected-file"></span>
                    <button type="submit" id="btn-upload-channel" class="btn btn-primary" style="visibility: hidden">Upload</button>
                </form>

            </div>
            <div class="modal-block-content">
                <h3><span class="info-channel-name"><%= channel.name %></span></h3>
                </br>
                <div style="display: flex; align-items: center; justify-content: flex-start; margin-bottom: 10px">
                    <img src="app/assets/key.svg" style="margin-right: 10px">
                    <span class="info-channel-id"><%= channel._id %></span>
                </div>
                <div style="display: flex; align-items: center; justify-content: flex-start; margin-bottom: 10px">
                    <img src="app/assets/time.svg" style="margin-right: 10px">
                    <span class="info-channel-creation"><%= channel.creation %></span>
                </div>
                <div style="display: flex; align-items: center; justify-content: flex-start; margin-bottom: 10px">
                    <img src="app/assets/creator-icon.svg" style="margin-right: 10px">
                    <span class="info-channel-creator"><%= channel.creator.username %></span>
                </div>
                <span class="delete-channel btn btn-block btn-radius btn-primary">Delete Channel</span>
                <span class="leave-channel btn btn-block btn-radius btn-primary">Leave Channel</span>
                <span class="copy-channel-id btn btn-block btn-radius btn-primary">Copy Channel ID</span>
            </div>

        <% } else { %>
            <div class="modal-brand" style="display: flex; flex-direction: column; justify-content: start; max-width: 30%; align-items: center">
                <div class="profile-image-container" >
                    <img id="channel-icon" class="profile-image">
                    <div class="profile-image-overlay">Profilbild ändern</div>
                </div>
                <form id="form-upload-channel-icon" style="max-width: 100%; display: flex; flex-direction: column; align-items: center" method="POST" enctype="multipart/form-data">
                    <input id="channel-upload" style="visibility: hidden" type="file" name="avatar" required>
                    <span id="selected-file"></span>
                    <button type="submit" id="btn-upload-channel" class="btn btn-primary" style="visibility: hidden">Upload</button>
                </form>
            </div>
            <div class="modal-block-content">
                <h3><span class="info-channel-name"></span></h3>
                </br>
                <div style="display: flex; align-items: center; justify-content: flex-start; margin-bottom: 10px">
                    <img src="app/assets/key.svg" style="margin-right: 10px">
                    <span class="info-channel-id"></span>
                </div>
                <div style="display: flex; align-items: center; justify-content: flex-start; margin-bottom: 10px">
                    <img src="app/assets/time.svg" style="margin-right: 10px">
                    <span class="info-channel-creation"></span>
                </div>
                <div style="display: flex; align-items: center; justify-content: flex-start; margin-bottom: 10px">
                    <img src="app/assets/creator-icon.svg" style="margin-right: 10px">
                    <span class="info-channel-creator"></span>
                </div>
                <span class="delete-channel btn btn-block btn-radius btn-primary">Delete Channel</span>
                <span class="leave-channel btn btn-block btn-radius btn-primary">Leave Channel</span>
                <span class="copy-channel-id btn btn-block btn-radius btn-primary">Copy Channel ID</span>
            </div>
        <% } %>
    </div>

</div>