
        

    <div id="channel-info-dialog" class="page-single">
        <div class="modal-block modal-visible">
            <% if (channel) {%>
                <div class="modal-block-content">
                    <h3>Channel Name: <span class="info-channel-name"><%= channel.name %></span></h3>
                </br>
                    <p>ID: <span class="info-channel-id"><%= channel._id %></span></p>
                    <p>Origin: <span class="info-channel-creation"><%= channel.creation %></span></p>
                    <p>Owner: <span class="info-channel-creator"><%= channel.creator.username %></span></p>
                <% if (user._id.equals(channel.creator._id)) { %>
                    <form action="/api/channel/delete/<%= channel._id %>" method="post">
                    <button type="submit" name="your_name" value="your_value" class="btn btn-primary">Delete Channel</button>
                </form>
                <% }  %>
                    <span class="leave-channel btn btn-block btn-radius btn-primary">Leave Channel</span>
                </div>
                <form action="/api/channel/<%= channel.id %>/upload" method="POST" enctype="multipart/form-data">
                    <legend>Upload Channel Icon</legend>
                    <input type="file" name="avatar" required>
                    <button type="submit" class="btn btn-primary">Upload Channel Icon</button>
                </form>
            <%} else {%>
                <div class="modal-block-content">
                    <h3>Channel Name: <span class="info-channel-name"></span></h3>
                </br>
                    <p>ID: <span class="info-channel-id"></span></p>
                    <p>Origin: <span class="info-channel-creation"></span></p>
                    <p>Owner: <span class="info-channel-creator"></span></p>
                    <span class="leave-channel btn btn-block btn-radius btn-primary">Leave Channel</span>
                </div>
            <% } %>
        </div>
    </div>