<div class="modal-block modal-visible">
    <div class="flex-container" style="display: flex; flex-direction: column; width: 100%;">
        <div style="background-color: #12c2aa; display: flex; max-height: 30%; min-width: 100%; ">
            <div class="profile-image-container" style="max-width: 30%; margin: 0px; flex-direction: row; align-items: center; margin-left: auto; margin-right: auto;">
                <img class="profile-image" style="max-height: 100%; padding: 10px;" src="<%= user.avatar%>">
            </div>
        </div>
        <div style="padding: 15px;">
            <div style="display: flex; justify-content: space-between; align-items: center">
                <h3><%= user.username %></h3>
                <div style="display: flex; align-items: center;">
                    <span style="font-size: 22px"><%= user.score %></span>
                    <img src="app/assets/emoji_events.svg" width="40px" style="margin-right: 8px" />
                </div>
            </div>
            <div class="panel panel-default" style="border-color: #12c2aa;">
                <div class="panel-heading" style="background-color: #434343; border-color: #12c2aa;">
                    <h3 class="panel-title" style="color: white;">Shared Channels</h3>
                </div>
                <div class="panel-body" style="background-color: #343434;">
                    <span class="label label-success" style="display: inline;">Admin-Channel</span>
                    <span class="label label-primary" style="display: inline;">Collaborator-Channel</span>
                    <span class="label label-danger" style="display: inline;">Observer-Channel</span>
                </div>
            </div>
            <div class="panel panel-default" style="border-color: #12c2aa;">
                <div class="panel-heading" style="background-color: #434343; border-color: #12c2aa;">
                    <h3 class="panel-title" style="color: white;">Status</h3>
                </div>
                <div class="panel-body" style="background-color: #343434;">
                    <%= user.status %>
                </div>
            </div>
            <div>
                <div class="panel panel-default" style="border-color: #12c2aa;">
                    <div class="panel-heading" style="background-color: #434343; border-color: #12c2aa;">
                        <h3 class="panel-title" style="color: white;">Info</h3>
                    </div>
                    <div class="panel-body" style="background-color: #343434;">
                        <%= user.info %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>